
  <nav class="light-red lighten-1" role="navigation">  
    <div class="nav-wrapper container center"><a href= "#"><img class="responsive-img" src="assets/img/taco.png" alt="Eat Da Burger Icon"></a> 
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      
      <h1 class="header center red-text">El Mucho Loko Tako Truck!</h1>
      <div class="row center">
        <h5 class="header col s12 light">No need to be Cinco de Mayo</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
       <div class="row">
        <div class="col s12 m4">
          <h5 class="center">MY LOKO TAKOS</h5>
            <p class="light">
              <ul>
          {{#each takos}}
            {{#unless this.devoured}}
                   <form action="/{{this.id}}?_method=PUT" method="POST">
                      <div class="row">
                        <div class="col">                  
                          <li>{{this.id}} {{this.tako_name}}</li>      
                          {{> takos/customer}}         
                        </div>
                        <div class="col">
                          <input type="hidden" name="devoured" value="true"> 
                          <button type="submit button" id="eaten" class="btn waves-effect waves-light red">Eat Me!</button>          
                        </div>
                      </div>
                    </form>
            {{/unless}}
          {{/each}}
        </ul>       
        </p>
        </div>

        <div class="col s12 m4">
          <div class="row">
            <h5 class="center">ADD A TAKO</h5>
  
                  <form class="create-update-form" action="/" method="POST">

                    <div class="form-group">
                      <label for="newTako">Tako Name:</label>
                      <input placeholder="Example: Hangover Special" type="text" id="tako_name" name="tako_name">
                    </div>

                    <button type="submit" class="btn-large waves-effect waves-light green">Add my tako!</button>
                  </form>
          </div>
        </div>
        <div class="col s12 m4">
            <h5 class="center">DEVOURED TAKOS</h5>
              <p class="light">
                  <ul>
                    {{#each takos}}
                      {{#if this.devoured}}
                        <li>
                        {{this.id}}. {{this.tako_name}}  Eaten by {{this.customer}} 
                        {{> takos/delete-tako}}
                        </li>
                      {{/if}}
                    {{/each}}
                  </ul>
              </p>
            </div>
          </div>
        </div>
      </div>  {{!--end container--}}
 

  <footer class="page-footer green">
  
    <div class="footer-copyright">
      <div class="container">
      <a class="white-text text-lighten-3" href="https://github.com/GeekInterrupted/Burger-Sequelize">Mucho Tako Loko Truck in Heroku</a>
      </div>
    </div>
  </footer>


  